@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Mynerve;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #E6E6FA, #DDA0DD);
}