html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: darkslategray;
}
main{
    display: block;
    background: purple;
    margin: auto;
    margin-left: 145px;
    justify-content:space-evenly;
    position: static;
}
header{
    background: white;
    font-size:xx-large;
    margin-left: 145px;
    text-align: center;
    max-width: 95%;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pieCharts{
    display: flex;
    background: green;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
aside, h3{
    background: blue;
    float: left;
    display: block;
    justify-content: space-around;
    position:fixed;
    height: 920px;
    width: 100px;
    max-height: 100%;
    text-align: center;
    border-style: double;
}
.tables{
    margin-top: 10px;
    display: flex;
    background: red;
    justify-content: space-evenly;
    font-size:large;
}
.line-chart{
    display: flex;
    background: gray;
    flex-direction: column;
}
.tableChart{
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}